/* fonts awesome */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');

/* Utilities style */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

main {
    margin-top: 50px;
}

/* header section style */

.header {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-right: 200px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
    margin-top: 100px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}

.header-banner img {
    border-radius: 8px;
    padding-top: 50px;
    width: 60%;
    display: block;
    margin: 0 auto;

}

/* Main section Style */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 50px;
    margin-bottom: 130px;
}

.about-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 200px;
}

.about-1 img {
    width: 180px;
}

.about-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.item-1 {
    color: #727272;
}

.item-2 {
    color: #FF900E;
}

.about-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.btn-section {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* future section style */

.future {
    display: flex;
    justify-content: space-around;
    grid-column-gap: 50px;
    margin-bottom: 100px;
}

.future-1 {
    padding-left: 100px;
}

.future-2 {
    position: relative;
}

.future-title-1 {
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.future-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.box-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


.future-image img {
    width: 600px;
    margin-top: 60px;
}

.btn-box {
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    padding: 0px 50px;
    position: absolute;
    left: 15%;
    transform: translate(-50%, -60%);
}

.btn-box-1 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
}

.btn-box-2 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* Work section style */
.work-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.work {
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 170px;
    height: 180px;
    background: rgb(216, 210, 210);
}

.work:hover {
    background: #fff;
}

.work-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 130px;
    margin-bottom: 24px;
    margin-left: 120px;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 120px;
    margin-bottom: 100px;
}

.work img {
    margin: 0 auto;
    display: block;
    padding-top: 15px;
}

.work-1 {
    font-weight: 600;
    font-size: 20px;
    color: #424242;
    text-align: center;
}

.work-2 {
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    text-align: center;
}

/* Sponspors Section */
.logo-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.logo-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 24px;
}

.logo-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 50px;
}

.logo-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.logo img {
    mix-blend-mode: luminosity;
    width: 120px;
    height: 35px;
}

/* Testimonial section */
.testimonial-section {
    padding-bottom: 100px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.testimonial {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px 20px;
}

.testimonial-section {
    background-color: aliceblue;
    margin-bottom: 100px;
}

.testimonial-title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

.testimonial-description {
    font-weight: 400;
    font-size: 20px;
    color: #727272;
}

.tests {
    display: flex;
    align-items: center;
    gap: 20px;
}

.test-1 {
    margin-bottom: -12px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.test-2 {
    font-weight: 400;
    font-size: 18px;
    color: #727272;
}

/* footer section style */
.footer {
    margin-bottom: 100px;
}

.footer-section {
    background: #FFF4E7;
    border-radius: 10px;
    padding: 30px 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/* Media Query style */

/* Mobile Device */

@media only screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-left: 12px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        margin-left: -20px;
    }

    .header-title {
        margin-top: 50px;
        font-size: 60px;
    }

    .header-banner img {
        width: 80%;
    }

    .about-container {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .about-1 {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }

    .about-1 img {
        width: 320px;
    }

    .about-description {
        font-size: 20px;
        text-align: center;
    }

    .about-title {
        text-align: center;
        margin-top: 20px;
    }

    .btn-section {
        margin-left: 100px;
    }

    .future {
        flex-direction: column;
        margin-bottom: 280px;
    }

    .future-1 {
        padding-left: 5px;
        text-align: center;
    }

    .future-title {
        font-size: 40px;
    }

    .future-title-1 {
        padding-left: 0px;
    }

    .future-image img {
        width: 100%;
    }

    .btn-box {
        transform: translate(-5%, 20%);
    }

    .work-title {
        margin-left: 15px;
        text-align: center;
    }

    .work-description {
        margin-left: 15px;
        text-align: center;
        margin-bottom: 70px;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work {
        width: 220px;
        height: 220px;
    }

    .logo-section {
        margin-top: 80px;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .testimonial-container {
        flex-direction: column;
        gap: 30px;
    }

    .testimonial {
        padding: 30px 40px;
    }

    .footer-section {
        padding: 60px 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer {
        margin-bottom: 70px;
    }
}

/* Mediam Device */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .nav-item {
        margin-right: 50px;
    }

    .about-container {
        flex-direction: column;
    }

    .about-1 {
        margin-left: 0;
    }

    .about-title {
        margin-left: 120px;
        margin-top: 60px;
    }

    .about-description {
        margin-left: 120px;
    }

    .btn-section {
        margin-left: 120px;
    }

    .future {
        flex-direction: column;
    }

    .future-1 {
        padding-left: 20px;
    }

    .future-image img {
        width: 100%;
    }

    .btn-box {
        transform: translate(50%, 30%);
    }

    .work-title {
        margin-top: 360px;
        text-align: center;
        margin-left: 50px;
    }

    .work-description {
        text-align: center;
        margin-left: 50px;
    }

    .work-container {
        gap: 70px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .logo-container {
        gap: 30px;
    }
}